.collapsed-menu {
    text-align: center;
    font-family: 'Sacramento', cursive;
    padding: 5px;
}

.uncollapsed-menu-text {
    font-family: 'Sacramento', cursive;
    text-align: center;
    padding-top: 25%
}

.home-body {
    background-color: #A8C6C4;
}